@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Скидання стилів */
@import url("common.css");

/* Основні стилі */

body {
    font-family: "Inter", sans-serif;
    color: #6d6d6d;
    
}
.wrap {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* #regionheader */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;
}
.header__container {
    display: flex;
    gap: 20px;
    align-items: center;
    min-height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.header__logo {
    color: #000;
    font-family: "Merriweather";
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    flex-shrink: 0;
    position: relative;
    z-index: 5;
}
.header__menu {
}
.menu {
    flex: 1 1 auto;
}
.menu__body {
}
.menu__list {
    display: flex;
    justify-content: center;
    column-gap: 36px;
    row-gap: 8px;
    flex-wrap: wrap;
}
.menu__item {
}
@media (any-hover: hover) {
    .menu__item:hover .menu__link{
        text-decoration-line: underline;
    }
}
.menu__link {
    font-family: "Merriweather";
    font-size: 20px;
    color: #000;
    transition: color .3s;
}
.menu__link--active {
    font-family: 700;
    color: #D58417;
    text-decoration-line: underline;
}

.menu__item--parent {
    position: relative;
}
.menu__item--parent .menu__link {
    display: flex;
    align-items: center;
    gap: 4px;
}
.menu__item--parent .menu__link::after {
    content: "";
    background: url('../img/sub-menu-arrow.png') 0 0 no-repeat;
    flex: 0 0 16px;
    height: 8px;
    width: 16px;
    transition: all .3s;
}
.menu__item--parent:hover .sub-menu {
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    pointer-events: all;
}
@media (any-hover: hover) {
    .menu__item--parent:hover .menu__link::after {
        transform: rotate(-180deg);
    }
}
.sub-menu {
    transition: all .3s;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.sub-menu__list {
    width: 200px;
    border-radius: 15px;
    padding: 15px;
    background-color: #D58417;
    box-shadow: 0 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.sub-menu__item {
}
.sub-menu__item:not(:last-child) {
    margin-bottom: 10px;
}
.sub-menu__link {
    color: #000;
    font-size: 18px;
}
@media (any-hover: hover) {
    .sub-menu__link:hover {
        text-decoration: underline;
    }
}

.header__actions {
    flex-shrink: 0;
}
.actions-header {
    display: flex;
    align-items: center;
    gap: 23px;
    position: relative;
    z-index: 5;
}
.actions-header__item {
    flex: 0 0 32px;
    position: relative;
    transition: all .5s ease 0s;
}
@media (any-hover: hover) {
    .actions-header__item:hover {
        transform: scale(1.1);
    } 
}
.actions-header__item img {
    max-width: 100%;
}
.actions-header__item span {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background-color: #ff3333;
    width: 12px;
    height: 12px;
    color: #fff;
    font-size: 9px;
    text-align: center;
    line-height: 12px;

}
.icon-menu {
    display: none;
}

@media (max-width: 960px) {
    .header__container {
        min-height: 50px;
    }
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: -100%;
        padding: 80px 15px 30px 15px;
        background-color: #502203;
        transition: left .3s;
    }
    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        left: -100%;
        z-index: 2;
        background-color: #D58417;
        transition: left .3s;
    }
    .menu-open .menu__body,
    .menu-open .menu__body::before {
        left: 0;
    }
    .menu-open body {
        overflow: hidden;
    }
    .menu__list {
        flex-direction: column;
        text-align: right;
        row-gap: 28px;
    }
    .menu__link {
        font-size: 28px;
    }
    .menu__item--parent .menu__link {
        display: block;
    }
    .menu__item--parent .menu__link::after {
        display: none;
    }
    .sub-menu {
        position: relative;
        visibility: visible;
        opacity: 1;
        padding-top: 10px;
        transform: translate(0px, 0px);
    }
    .sub-menu__list {
        width: 100%;
        border-radius: 0;

    }
    .sub-menu__item:not(:last-child) {
        margin-bottom: 20px;
    }
    .sub-menu__link {
        color: #000;
        font-size: 24px;
    }
    .icon-menu {
        width: 30px;
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .icon-menu::before,
    .icon-menu::after,
    .icon-menu span {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #000;
        transition: all .3s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: 50%;
        margin-top: -1px;
    }
    .menu-open .icon-menu span {
        transform: scale(0);
    }
    .menu-open .icon-menu::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
    }
    .menu-open .icon-menu::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
    }
}
@media (max-width: 440px) {
    .header__container {
        gap: 5px;
    }
    .header__logo {
        font-size: 24px;
    }
    .actions-header {
        gap: 10px;
    }
}
/* #regionEnd */

/* #regionHero */
.hero {
    background-color: #502203;
    padding: 200px 0px 55px 0px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
}
.hero__img-left, .hero__img-right {
    display: none;
}
.hero__background-decor {
    display: none;
}
.hero__container {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
}
.hero__body >* {
    margin-bottom: 9px;
}
.hero__title {
    font-family: "Cormorant Infant";
    color: #fff;
    font-weight: 500;
    font-size: 78px;
    line-height: 1.29;
}
.hero__button {
    color: #FFF;
    font-family: "Cormorant Infant";
    font-size: 24px;
    font-weight: 600;
    padding: 15px 25px;
    border: 1px solid #fff;
    border-radius: 4px;
    position: relative;
}
.hero__button::before {
    border-radius: 4px;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 12px;
    left: -8px;
    background-color:  rgba(255, 255, 255, 0.06);
    transition: all .3s;
}
@media (any-hover: hover) {
    .hero__button:hover::before {
        top: 0;
        left: 0;
    }
}

.hero__body >*:last-child {
    margin-bottom: 0px;
}
.hero__image {
    flex-basis: 36.75%;
    flex-shrink: 0;
    border-radius: 215px;
    border: 1px solid #ffffff;
    padding: 20px;
}
.hero__image img {
    width: 100%;
    border-radius: 215px;
}
.hero__content {
    
}

.content-hero {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    gap: 20px;
}
.content-hero__text {
    color: #FFF;
    font-family: "Cormorant Infant";
    font-size: 22px;
    font-weight: 700;
    line-height: 1.48;
    flex-grow: 1;
}
.content-hero__item {
    color: #FFF;
    font-family: "Cormorant Infant";
    font-size: 32px;
    font-weight: 600;
    line-height: 1.20;
    padding-left: 10px;
    position: relative;
}
.content-hero__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #FFF;
    width: 1px;
    height: 78.94%;
    transform: translate(0px, -50%);
}
.footer {
    padding: 25px;
    text-align: center;
}
.footer__link {
    display: block;
    color: #D58417;
    font-family: "Cormorant Infant";
    font-size: 48px;
    font-weight: 700;
    line-height: 1.48;
    transition: color .3s ease;
}
@media (any-hover: hover) {
    .footer__link:hover {
        color: #0E333D;
    }
}

@media (min-width: 1500px) {
	.hero__background-decor {
		display: block;
	}
	.hero__decor-left,
	.hero__decor-right {
		position: absolute;
	}
	.hero__decor-left {
		left: 0px;
		top: 0px;
	}
	.hero__decor-right {
		right: 0;
		bottom: 15%;
	}
    .hero__img-left {
		display: block;
		position: absolute;
		aspect-ratio: 240/215;
		width: 15%; /* 240/1600 */
		left: 2.1875%;
		top: 69.8%;
		border-radius: 195px 195px 0px 0px;
		border: 1px solid #fff;
	}
	.hero__decor-img-left {
		overflow: hidden;
		position: absolute;
		top: 0.5%;
		left: 2%;
		width: 100%;
		height: 100%;
		border-radius: 195px 195px 0px 0px;
        z-index: 5;
	}
	.hero__decor-img-left img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.hero__img-right {
		display: block;
		position: absolute;
		bottom: 3%;
		right: -7%; 
		aspect-ratio: 261/371;
		width: 16.3125%;
		padding: 17px 12px;
		border-radius: 215px;
		border: 1px solid #fff;
		overflow: hidden;
		z-index: 3;
	}
	.hero__img-right img {
		width: 100%;
		height: 100%;
		aspect-ratio: 237/337;
		object-fit: contain;
		border-radius: 215px;
	}
}



@media (max-width: 1200px) {
    .hero__title {
        font-size: 64px;
    }
}
@media (max-width: 991.98px) {
    .hero {
        padding: 150px 0px 40px 0px;
    }
    .hero__container {
        flex-direction: column;
        gap: 40px;
        align-items: stretch;
    }
    .hero__body {
        text-align: center;
    }  
    .hero__image {
        align-self: center;
    }
}
@media (min-width: 992px) {
    .hero__body {
        flex-basis: 31.625%;
        flex-shrink: 0;
        padding-top: 57px;
        padding-right: 30px;
    } 
    .hero__content {
        flex-basis: 31.625%;
        flex-shrink: 0;
        padding-top: 76px;
        padding-left: 30px;
    }
    .content-hero__item {
        margin-bottom: 183px;
        align-self: flex-end;
    }
}
@media (max-width: 960px) {
    .hero {
        padding: 90px 0px 40px 0px;
    }
}

@media (max-width: 470px) {
    
    .hero__title {
        font-size: 38px;
    }
}
@media (min-width: 992px) {
    .hero__body {
        flex-basis: 31.625%;
        flex-shrink: 0;
        padding-top: 57px;
        padding-right: 30px;
    } 
    .hero__content {
        flex-basis: 31.625%;
        flex-shrink: 0;
        padding-top: 76px;
        padding-left: 30px;
    }
    .content-hero__item {
        margin-bottom: 183px;
        align-self: flex-end;
    }
}



/* #regionEnd */