@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */

body {
    font-size: 18px;
    background-color: #363333;
    
}
.wrap {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.products {
}
.products__wrapper {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}
.products__column {
    padding: 0 25px;
    flex: 0 0 25%;
    margin-bottom: 50px;
}
.products-item {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.products-item__image img {
    max-width: 100%;
}
.products-item__image:not(:last-child) {
    margin-bottom: 15px;
}
.products-item__body {
    display: flex;
    flex-grow: 1;
}
.products-item__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.products-item__title {
    flex-grow: 1;
}
.products-item__title:not(:last-child) {
    margin-bottom: 10px;
}
.products-item__lint-title {
}
.products-item__text {
}
.products-item__link {
    align-self: flex-start;
    min-height: 45px;
    flex: 0 0 18px;
    background: url('../img/arrow.svg') center no-repeat;
}