*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
  min-width: 320px;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  opacity: 0;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
}
.menu-open body {
  overflow: hidden;
}
body.opacity {
  opacity: 1;
}

.wrap {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 78.125rem;
  margin: 0rem auto;
  padding: 0rem 0.9375rem;
}

.page__item {
  margin-top: 0.9375rem;
  margin-left: 0.9375rem;
  color: red;
  font-size: 2rem;
  cursor: pointer;
}
.page__item.active {
  color: green;
}

.header, .footer {
  background-color: aqua;
  padding: 1.25rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.footer {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.item {
  color: #fff;
  font-size: 1.75rem;
  margin: 0rem auto;
  width: 6.25rem;
  height: 6.25rem;
  background-color: #0051ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}