.button {
    padding: 16px 72px;
    border-radius: 8px;
    background-color: #FFF;
    color: #3C4242;
    font-family: "Causten", sans-serif;
    transition: all .3s ease;
    @media (any-hover: hover) {
        &:hover {
            background-color: #8A33FD;
            color: #fff;
        }
    }
}

@media (max-width: 430px) {
    .button {
        padding: 16px 50px;
    }
}