@use "sass:math";

@import "base/variables";
@import "base/mixins";
@import "base/functions";
@import "blocks/reset";
@import "blocks/common";
@import "fonts";

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: toRem(18);
    opacity: 0;
    transition: opacity 3s ease;
    .menu-open & {
        overflow: hidden;
    }
    &.opacity {
        opacity: 1;
    }
}
.wrap {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
}

[class*="__container"] {
	max-width: toRem(1250);
	margin: toRem(0) auto;
	padding: toRem(0) toRem(15);
}

.page__item {
    margin-top: toRem(15);
    margin-left: toRem(15);
    color: red;
    font-size: toRem(32);
    cursor: pointer;
    &.active {
        color: green;
    }
}


.header, .footer {
    background-color: aqua;
    padding: toRem(20);
    font-size: toRem(32);
    color: #fff;
    text-align: center;
    
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.footer {
    transition: all .5s;
}

.item {
    color: #fff;
    font-size: toRem(28);
    margin: toRem(0) auto;
    width: toRem(100);
    height: toRem(100);
    background-color: #0051ff;
    display: flex;
    align-items: center;
    justify-content: center;
}